@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


:root{


    --yellow-theme-background-color : hwb(0 0% 100% / 0.842);
    --yellow-theme-main-color : #8b0cb1;
    --yellow-theme-sub-text-color : hsl(0, 0%, 100%);
    --yellow-theme-nav-background-color : hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 60%;
    height: 100%;
}

body {
    background: var(--yellow-theme-background-color);
    height: 100%;
}

#root{
    height: 100%;
}