@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


:root{


    --yellow-theme-background-color : #e6d1d1;
    --yellow-theme-main-color : #ff4040;
    --yellow-theme-sub-text-color : #130e0e;
    --yellow-theme-nav-background-color : #ffffff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 60%;
    height: 100%;
}

body {
    background: var(--yellow-theme-background-color);
    height: 100%;
}

#root{
    height: 100%;
}